{% extends 'base.html.twig' %}

{% block title %}BonzaiShop{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex  justify-content-center m-4 flex-wrap">
        <img src="./../public/assets/img/bonsai.png" alt="acceuil bonsai" width="200" class="justify-content-sm-center">
        <h1 class="justify-content-sm-center">Welcome <br>on BonzaiShop!</h1>
    </div>
    <div class="d-flex  justify-content-center m-4 flex-wrap">
        <h2>Find the BONZAI of your dream</h2>
    </div>
</div>
{% endblock %}